.Repositories_table {
  margin-top: 8px;
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ccc;
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
}

.Repositories_table.loading {
  opacity: 0.3;
}

.Repositories_table td, .Repositories_table th {
  padding: 8px;
  text-align: left;
  background: white;
}

.Repositories_table th {
  background: #e5e5e5;
}

.Repositories_table th.sortable {
  cursor: pointer;
}

.Repositories_table th>span {
  margin-left: 8px;
}

.Repositories_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 0.8rem;
}
